{% extends 'base.html.twig' %}

{% block title %}WELCOME{% endblock %}

{% block body %}
    <div class="bg">
        <div class="text">
            <h2>BIENVENU SUR NOTRE SITE DE COMMERCE ELECTRONIQUE <strong>E-VENTE</strong></h2>
        </div>       
        <div class="container">
            <div class="client">
                Souhaitez-vous acheter des produits sur notre site?
                <a href="{{ path('admin.inscription.client') }}" class="btn btn-success">CREER UNE COMPTE</a>
            </div>
            <div class="vendeur">
                Souhaitez-vous vendre vos produits sur notre site?
                <a href="{{ path('admin.inscription.vendeur') }}" class="btn btn-success">CREER UNE COMPTE</a>
            </div>
        </div>
    </div>
{% endblock %}
