<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ERROR 402</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('admin') }} 
            {% block importmap %} {{ importmap('admin') }} {% endblock %} 
        {% endblock %}
    </head>
    <body>
        <div class="w-100 bg-primary d-flex justify-content-center align-items-center" style="height:100vh;">
            <h1 class="fs-1 text-dark">ERROR 402</h1>
        </div>
    </body>
</html>
