    <div class="footer">
            <div class="copyright text-light">
                <h6>Copyright by <strong>ZosefaToky</strong></h6>
                <a href="" class="text-light"><strong>zosephatoky@gmail.com</strong></a>
                <div>
                    <a href="" class="text-light"><i class="fab fa-facebook text-light"></i></a>
                    <a href="" class="text-light"><i class="fab fa-instagram text-light"></i></a>
                    <a href="" class="text-light"><i class="fab fa-whatsapp text-light"></i></a>
                </div>
            </div>
    </div>