    <div class="footer">
        <div class="contenair">
            <div class="Techno">
                <ul>
                    <li>Symfony 7</li>
                    <li>PostgresSQL</li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright by ZosefaToky</p>
                <strong>zosephatoky@gmail.com</strong>
                <div>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
                </div>
            </div>
        </div>
    </div>