
.bg{
    background:#326771;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center !important;
}
.text{
    width: 80%;
    margin: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color: white;
}
.bg .container{
    height: 60vh !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}
.client{
    width: 40%;
    height: 35vh;
    background-color: rgba(255, 255, 255, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
}
.vendeur{
    width: 40%;
    height: 35vh;
    background-color: rgba(255, 255, 255, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
}

