*{margin: 0;padding: 0;box-sizing: border-box;}
.client{
    width: 90%;
    padding-top: 8px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #326771;
    color: white !important;
}
.client div{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
.section-cart{
    width: 100%;
    height: 10vh;
    background: #326771 !important; color: white !important;
}
.section-cart-fixed{
    position: fixed;
    background-color: #326771  !important;
    z-index: 1000;
    color: white !important;
}
.section-cart .contenair{
    width: 90%;
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-cart .contenair form{
    display: flex;
    width: 45%;
}
.section-cart .contenair>div{
    height: inherit;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.section-cart .contenair .lien{
    display: flex;
    column-gap: 25px;
}
.section-cart .contenair .lien a{
    color: white !important;
} 
.section-cart .contenair div a{
    text-decoration: none !important;
    color: white !important;
    font-weight: 500;
    letter-spacing: 2px;
}
.section-cart .contenair div a .panier{
    color: rgba(255, 255, 255, 0.849);
    font-size: 23px;
}
.header{
    width: 100%;
    height: 80vh;
    /* background:#326771; */
    background-image: url('../bg/pexels-negative-space-34600.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header div{
    width: 100%;
    height: 80vh;background-color: #326671ad;;
}



.main{
    width: 100%;
    height: auto;
}
.main .container{
    width: 90%;
    margin: auto;
}
.main .container .services{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.main .container .services div{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.main .contenair{
    width: 90%;
    margin: auto;
}
.main .contenair .text-boutique{
    width: 100%;
    height: 20vh;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
.main .container .produit{
    width: 100% !important;
    height: 10vh !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}
.main .contenair .boutique{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .contenair .produit .btn-primary{
    border: 1px solid #0d6efd !important;
    background-color: transparent !important;
    color: #0d6efd  !important;
    transition: 0.5s !important;
}
.main .contenair .boutique .btn-primary{
    border: 1px solid #0d6efd !important;
    background-color: transparent !important;
    color: #0d6efd  !important;
    transition: 0.5s !important;
}
.main .contenair .produit .btn-primary:hover{
    background-color: #0d6efd !important;
    transition: 0.5s !important;
    color: white !important;
}
.main .detail-boutique{
    width: 100% !important;
    text-decoration: none !important;
    color: white !important;
}
.main .detail-boutique div{
    width: 100% !important;
    height: 25vh;
    background: #326771;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
    border-radius: 5px !important;
}
.main .contenair .boutique .btn-primary:hover{
    background-color: #0d6efd !important;
    transition: 0.5s !important;
    color: white !important;
}
.main .contenair .row .card{
    height: 350px !important;
}
.main .contenair .row .card .card-img-top{
    height: 200px !important;
}
.main .contenair .row .card .card-body{
    height: 100px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-between !important;
}
.main .contenair .row .card .card-body .card-title{
    width: 100% !important;
    text-align: center !important;
}
.main .contenair .row .card .card-body .prix{
    font-weight: bold;
}
.main .contenair .row .card  .card-footer{
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer{
    width: 100%;
    height: 25vh;
    background-color: #326771;
}
.footer .copyright{
    margin: auto;
    width: 80% !important;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .copyright>div{
    display: flex;
    column-gap: 15px;
}
.footer .copyright>div i{
    font-size: 30px;
    color: black;
}







